{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="container-prim">
    <h1>Create new Category</h1>

    {{ include('fk_category/_form.html.twig') }}
</div>
{% endblock %}
