// ////////////////////////// //
// ///////// Navbar ///////// //
// ////////////////////////// //

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  // font-family: 'Bebas Neue', sans-serif;
  padding: 0 5%;
  height: $navbar-heigth;
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px $second-color solid;
}

nav .logo {
  font-family: 'Bebas Neue', sans-serif;
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: $text-color-light;
  letter-spacing: 3px;
  gap: 10px;

  // img {
  //   width: 50px;
  //   height: 50px;
  // }

  i {
    font-size: 3rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
      color: $second-color;
    }
  }
}

nav .logo a {
  text-decoration: none;
  color: $text-color-light;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  // width: 60%;
  height: 100%;
  display: flex;
  // justify-content: space-around;
  align-items: center;
}

#cart {
  position: relative;

  a {
    color: $light-color;
    font-size: 2.5rem;
  }

  .cart-item {
    position: absolute;
    left: 30%;
    top: 5px;
    background-color: $third-color;
    border: 1px $second-color solid;
    text-align: center;
    font-size: 12px;
    padding: 2px 4px;
    min-width: 20px;
  }
}

nav .links li {
  list-style: none;

  & a {
    display: block;
    padding: 1em;
    font-size: 16px;
    // font-weight: bold;
    color: $text-color-light;
    text-decoration: none;
    // letter-spacing: 2px;
    position: relative;
  }

  // & a:after {
  //   content: '';
  //   position: absolute;
  //   background-color: $second-color;
  //   height: 2.5px;
  //   width: 0;
  //   left: 0;
  //   bottom: 1px;
  //   transition: 0.3s;
  // }

  // & a:hover:after {
  //   width: 100%;
  // }

  & a:hover {
    // opacity: 0.9;
    color: $second-color;
  }
}

// ////////////////////// //
// ////// Dropduwn ////// //
// ////////////////////// //

.paste-button {
  position: relative;
  display: flex;
  // margin-right: 3rem;

  #avatar {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 50px;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px $second-color solid;
    padding: 1px;
    background-color: $light-color;
    // position: absolute;
    // top: 15px;
  }
}

.drop-button {
  text-align: center;
  background-color: transparent;
  color: $text-color-light;
  height: $navbar-heigth;
  padding: 15px 15px;
  // font-weight: bold;
  border: 2px solid transparent;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 14px;
  position: absolute;
  margin-top: $navbar-heigth;
  z-index: 11;
  min-width: 200px;
  background-color: $main-color;
  border-radius: 0px 0 4px 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
  color: $text-color-light;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: $second-color;
  color: $dark-color;
}

.dropdown-content a:focus {
  color: $text-color-light;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 4px 4px;
}

.paste-button:hover .dropdown-content {
  display: block;
}

// ////////////////////// //
// /////// Search /////// //
// ////////////////////// //

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.input_transirion {
  transition: all ease-in-out 0.3s;
}

.search__input {
  @extend .input_transirion;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  background-color: $input-color;
  border: 1px $second-color solid;
  color: $dark-color;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  width: 12em;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: $light-color;
}

.search__input::-webkit-input-placeholder {
  font-weight: 200;
  color: $text-color;
  opacity: 0.5;
}

.search__input:focus + .search__button {
  background-color: $light-color;
}

.search__button {
  @extend .input_transirion;

  border: none;
  background-color: $input-color;
  margin-bottom: 0.1em;
}

.search__button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: $text-color;
  opacity: 0.5;
}

// ////////////////////// //
// /////// Toggle /////// //
// ////////////////////// //

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: $light-color;
  margin: 5px;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

// ////////////////////////// //
// ////// Media querry ////// //
// ////////////////////////// //

@media screen and (max-width: 768px) {
  .display-non-768 {
    display: none;
  }

  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: $navbar-heigth;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: $main-color;

    justify-content: flex-start;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  }
  nav .links,
  nav .links a {
    font-size: 18px;
  }

  // Navbar mobile height
  nav :checked ~ .links {
    bottom: 50vh;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
    transition: 0.13s;
  }

  // dropdown

  .paste-button {
    .drop-button {
      margin: 0 auto;
      cursor: default;
    }

    .dropdown-content {
      // text-align: center;
      display: block;
      box-shadow: none;
      background-color: transparent;

      a {
        &:hover {
          background-color: transparent;
          color: $second-color;
        }
      }
    }
  }

  // cart
  nav #cart {
    margin-right: 5rem;
  }
}
