// ////////////////////////// //
// ///////// Swiper ///////// //
// ////////////////////////// //

.mySwiper {
  // height: 50vh;
  margin-top: 0px;
  z-index: -1;

  --swiper-navigation-color: #212941;
  --swiper-navigation-size: 50px;
  --swiper-navigation-top-offset: 19%;
  --swiper-navigation-sides-offset: 10px;

  .mySlide {
    position: relative;
    display: flex;
    justify-content: start;

    // button {
    //   position: absolute;
    //   bottom: 30px;
    //   left: 100px;
    //   z-index: 1;
    // }

    img {
      width: 100%;
      object-fit: cover;
      height: 100vh;
    }
  }
}
