// Variables

$main-color: #212941;
// Details
// Add to card
// rgb(33,41,65)

$second-color: #a88362;
// Edit
// rgb(168,131,98)

$third-color: #6e0f10;
// Delete

$light-color: #eaece8;
// body
// Cards
// Text light
// rgb(234,236,232)

$dark-color: #333;
// Footer
// Text dark

$medium-color: #ccc;

$text-color: #333;
// Text dark

$text-color-light: #eaece8;
// Text light
