@import 'variables';
@import 'forms';
@import 'home';
@import 'account';
@import 'navbar';
@import 'footer';
@import 'swiper';

* {
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Dosis', sans-serif;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  line-height: 1.6;
  background: $light-color;
}

input {
  accent-color: $second-color;
}

// img:broken::before {
//   content: '';
//   background-color: aqua;
//   aspect-ratio: 1;
// }

.hidden {
  visibility: hidden;
}

.container-prim {
  width: $width-container;
  margin: 130px auto 30px auto;
}

.container-home {
  width: $width-container;
  margin: -30rem auto 30px auto;
}

.filter-container {
  width: $width-container;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: $navbar-heigth;
  z-index: 8;

  // a {
  //   margin: 0;
  // }

  // div {
  //   a {
  //     margin: 0;
  //   }
  // }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.asp-1 {
  aspect-ratio: 1;
}

// ////////////////////////// //
// //////// Buttons ///////// //
// ////////////////////////// //

%button-shared {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.button {
  &-main {
    @extend %button-shared;

    background-color: $main-color;
    color: $text-color-light;
  }

  &-second {
    @extend %button-shared;

    background-color: $third-color;
    color: $text-color-light;
  }

  &-third {
    @extend %button-shared;

    background-color: $third-color;
    color: $text-color-light;
  }
}

.btn-blr {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background: #eaece899;
  backdrop-filter: blur(5px);
}

button[class^='button-']:hover,
a[class^='button-']:hover,
input[class^='button-']:hover {
  opacity: 0.9;
}

// ////////////////////////// //
// ///////// Stars ////////// //
// ////////////////////////// //

.stars {
  display: inline-block;
}

.stars input {
  display: none;
}

.stars label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.stars label:before {
  content: '\2605';
  font-size: 20px;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
  color: gold;
  transition: color 0.3s;
}

// //////////////////////// //
// ///// Testimonials ///// //
// //////////////////////// //

#testimonials {
  .testimonials {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    margin-bottom: 2rem;

    .test-card {
      border: 1px solid $second-color;
      border-radius: 5px;
      padding: 1rem;
      margin: 1rem;

      .test-flex {
        display: flex;
        ul {
          list-style: none;
          margin-top: 2rem;
          align-items: center;
          // position: relative;

          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 0.5rem;
            object-fit: cover;
            // position: absolute;
            // top: -65px;
            // left: -30px;
          }
        }
      }
    }
  }
}

.cart-btns {
  display: flex;
  gap: 2px;
  .quantity {
    width: 3.5rem;
  }
}

// /////////////////////////// //
// /////// Google Maps /////// //
// /////////////////////////// //

#map {
  height: 55vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

@import 'media';
