@import 'variables';
@import 'forms';
@import 'home';
@import 'navbar';
@import 'footer';
@import 'swiper';

* {
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Dosis', sans-serif;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  line-height: 1.6;
  background: $light-color;
  // color: $text-color;
}

// a {
//   color: $text-color-light;
// }

.container-prim {
  width: clamp(500px, 80%, 1200px);
  margin: 130px auto 30px auto;
}

.container-home {
  width: clamp(500px, 80%, 1200px);
  margin: -25rem auto 30px auto;
  // padding: 0 5rem;
  background: linear-gradient(180deg, transparent 0%, $light-color 10%);
  // z-index: ;
}

.filter-container {
  width: clamp(500px, 80%, 1200px);
  margin: auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 90px;
  z-index: 2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.asp-1 {
  aspect-ratio: 1;
}

// ////////////////////////// //
// //////// Buttons ///////// //
// ////////////////////////// //

%button-shared {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.button {
  &-main {
    @extend %button-shared;

    background-color: $main-color;
    color: $text-color-light;
  }

  &-second {
    @extend %button-shared;

    background-color: $third-color;
    color: $text-color-light;
  }

  &-third {
    @extend %button-shared;

    background-color: $third-color;
    color: $text-color-light;
  }
}

.btn-blr {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background: #eaece899;
  backdrop-filter: blur(5px);
}

button[class^='button-']:hover,
a[class^='button-']:hover,
input[class^='button-']:hover {
  opacity: 0.9;
}

@import 'media';
