{% extends 'base.html.twig' %}

{% block title %}View statistics | {{ parent() }}{% endblock %}

{% block body %}
<style>
    
</style>

<div class="container-prim pt-5">
    <h1>View statistics:</h1>

    <h3>Products</h3>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>    
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
{% endblock %}
