{% extends 'base.html.twig' %}

{% block title %}Add new Review | {{ parent() }}{% endblock %}

{% block body %}
<div class="container-prim">
    <h1>Add new Review</h1>

    {{ include('reviews/_form.html.twig') }}
</div>
{% endblock %}
