<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About us</h6>
        <p class="text-justify">
          At the heart of our web-shop, innovation meets style. We curate the latest trends and timeless classics, offering a seamless shopping experience. Explore a diverse range of products that blend quality with affordability. Our mission is to inspire confidence and creativity in every purchase. Join us on a journey where fashion, function, and flair converge. Discover your unique expression with our handpicked collection. Welcome to a world where every click sparks joy, and every item
          tells a story. Elevate your lifestyle with our carefully curated selection — your go-to destination for all things chic and trendy.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>

    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by Team number 4.</p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
