{% extends 'base.html.twig' %} {% block title %}Edit account | {{ parent() }}{% endblock %} {% block body %}
<div class="container-prim">
  <h1>Edit account</h1>

  {{ include('user/_form.html.twig', { button_label: 'Update' }) }}
</div>
{% endblock %}
