{% extends 'base.html.twig' %}

{% block title %}Add new User | {{ parent() }}{% endblock %}

{% block body %}
<div class="container-prim">
    <h1>Add new User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('app_user_index') }}">back to list</a> #}
</div>
{% endblock %}
